* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* force scrollbar, prevents initial gap */
html {
  overflow-y: scroll;
}

body {
  font-family: sans-serif;
  margin:0;
  background:#1B1B1B;
}
h1{
  color:#8473FF;
}
h2{
  color:#FFF;
}

/* ---- ISOTOPE ---- */

.isotope {
  background: #1B1B1B;
  max-width:1000px;
  margin:0 auto;
  /*margin-top:70px;*/
}

/* clear fix */
.isotope:after {
  content: '';
  display: block;
  clear: both;
}
/* 5 columns, percentage width */
.item.icon{
  padding:36px 0;
  padding-left:4%;
}
.item i{
  color:#FFF;
  font-size:1.5em;
}

/* BLOCK CLASSES */
.item,
.grid-sizer {
  width: 10%;
}
.item {
  float: left;
  height: 100px;
  background: #2c2c2c;
  padding:0 20px;
}
.item.wd3{
  width:30%;
  height:300px;
}
.item.wd5-hg3{
  width:50%;
  height:300px;
}
.item.wd2{
  width:20%;
  height:200px;
}
.item.empty{
  background:#1B1B1B;
}
.item.footer{
  width:100%;
  height:50px;
  background:#000;
  color:#CCC;
  line-height:2;
  font-size:0.7em;
}
/* ---- BLOCK STYLES ---- */
.logo-block{
  background:#CCC;
  padding:0;
}
.logo{
  height:75px;
  width:75px;
  background:#8473FF;
  position:relative;
  left:0;
  top:0;
}
.bouw{
  background:#5AB362;
}
.civiel{
  background:#659AC7;
}
.vastgoed{
  background:#DBCF52;
}
.quote{
  background:#9B9B9B;
  color:#FFF;
  line-height:1.3;
  font-size:1.3em;
  font-weight:300;
}
.architectuur{
  background:#FF4D4D;
}
.background-1{
  background:#CCC;
}
.background-2{
  background:#CCC;
}
.welkom{
  background:#1B1B1B;
}
.facebook{
  background:#2a4c93;
}
.linkedin{
  background:#11406c;
}
.twitter{
  background:#137abe;
}
.background-1{
  background:url('http://placehold.it/300x300') center;
}
.background-2{
  background:url('http://placehold.it/350x200') center;
}
/* ELEMENT STYLES */
.copywright{
  float:right;
}
/*MEDIA QUERIES*/
@media screen and (min-width : 769px) and (max-width:880px){
  h2{
    font-size:1.3em;
  }
  .isotope{
    max-width:100%;
  }
  /* blocks */
  .item {
    width:10%;
  }
  .item.wd3{
    width:40%;
  }
  .item.wd5-hg3{
    width:60%;
  }
  .item.wd2{
    width:40%;
  }
  .item.empty{
    display:none;
  }
}
@media screen and (min-width : 481px) and (max-width:770px){
  .isotope{
    max-width:100%;
  }
  .item.icon{
    padding-left:8%;
  }
  .item {
    width:20%;
  }
  .item.wd3{
    width:40%;
  }
  .item.wd5-hg3{
    width:60%;
  }
  .item.wd2{
    width:40%;
  }
  .item.empty{
    display:none;
  }
  .item.background-1{
    display:none;
  }
}
@media screen and (min-width : 320px) and (max-width:480px){
  h2{
    font-size:1em;
  }
  .item.icon{
    padding-left:23%;
  }
  .isotope{
    max-width:100%;
  }
  .item {
    width:50%;
  }
  .item.wd3{
    width:50%;
  }
  .item.wd3.logo-block{
    width:100%;
    height:150px;
  }
  .item.wd5-hg3{
    width:100%;
  }
  .item.wd2{
    width:50%;
  }
  .item.empty{
    display:none;
  }
  .item.background-1,.item.background-2{
    display:none;
  }
  .item.footer p{
    font-size:0.6em;
    line-height:3;
  }
}
